# Datafiles
*.nc
*.csv
*.zip
*.dbf
*.prj
*.shp
*.shx

# Data download file
download_sentinel.jl

# Notes directory
notes/
bk_files/

# Results files
*.mp4
*.png
*.gif
*.jld2
*.pdf
logs/

# Julia project files
Manifest*.toml
